* {
  box-sizing: border-box;
}

body {
    width: 100%;
    position: absolute;
    background-size: 100% 809px;
    background-color: #000000;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo__destaque{
    height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 5%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../img/banner\ 1.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

header{
    width: 95%;
    margin: 0 auto;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    height: 4vh;
    width: 7vw;
}

.nav__links{
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
}

.link__nav{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 0.9rem;
}

.nav__icones{
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__icones-botao{
    background-color: rgb(0, 0, 0, 0.0);
    border: none;
    color: white;
}

.nav__icones-perfil{
    display: flex;
    align-items: center;
    width: 4rem;
    justify-content: space-between;
}

.nav__icones-perfil::after{
    content: "\25BC";
    font-size: 1rem;
}

.destaque{
    margin-top: 10vh;
    margin-left: 50px;
}

.destaque__conteudo {
    width: 35vw;
    height: 20%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
     "poster__destaque poster__destaque"
     "descricao__destaque descricao__destaque"
     "botao__destaque-assistir botao__destaque-info";
     column-gap: 20px;
     row-gap: 20px;
}

.poster__destaque {
    height: 24vh;
    width: 35vw;
    grid-area: poster__destaque;
    grid-column: span 2;
}

.descricao__destaque {
    color: white;
    font-size: 1.2vw;
    line-height: 1.25;
    grid-area: descricao__destaque;
    grid-column: span 2;
}

.botao__destaque{
    border: none;
    padding: 0.8rem 1.9rem;
    border-radius: 0.125rem;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    transition: 0.2s;
}

button{
    cursor: pointer;
}

.botao__destaque-assistir:hover{
    background-color: rgb(255, 255, 255, 0.7);
}

.botao__destaque-info:hover{
    background-color: rgb(145, 134, 134, 0.3);
}

.fa-play{
    margin-right: 0.5rem;
}

.fa-circle-info{
    margin-right: 0.5rem;
}

.botao__destaque-assistir{
    width: 150px;
    grid-area: botao__destaque-assistir;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.botao__destaque-info{
    width: 220px;
    grid-area: botao__destaque-info;
    background-color: rgb(145, 134, 134, 0.5);
    color: white;
}

.catalogo{
    margin-top: 12rem;
}

.lista__filmes{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.8rem;
}

.lista__filmes .primeira-lista{
    margin-top: 12rem;
}

.lista__filmes-titulo{
    grid-column: span 5;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.lista__filmes-video{
    transition: 0.8s;
    transition: 0.4s;
}

.lista__filmes-video:hover{
    transform: scale(1.12);
    /* border: 2px solid rgb(255, 0, 0, 0.5); */
}

.imagem__video{
    width: 100%;
    height: 100%;
}